*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:1000px;
    color:#374151; 
   
    
}

.section-one{

    
    padding-top: 100px;  
    padding-bottom:80px;
    display:flex;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
    background:url("bg-img.png"); 
   
    
    

    


}
.section-one .container{

    display:flex;
    flex-direction:column;
    width:35%;
    padding:25px 50px;
    border-radius:5px;
    overflow:hidden;
    align-items:center;
    outline:1px solid #fe4e30;
    color:#374151;    
    font-size:15px;
    
    
    
 
}
.form-title{
    width:100%;
    margin-bottom:10px;
    margin-top:10px;
    display:flex;
    justify-content:center;
    border-bottom:2px solid #374151;
    color:#374151;   
    
}

.form-container {
    width:100%;
    padding-top:15px;
    background-color:white;
    font-family:roboto;
   
   
  
    
}

.project-time{
    
    display:grid;
    grid-template-columns: 130px 130px;
    gap:10px;
    
}


.form-container form .project-id input, .project-name input, .project-time  input, textarea {
    width: 100%; 
    border:none;
    padding:5px 10px;
    border-radius:3px;
    margin-bottom:15px;
    font-size:14px;
    color:#374151;    
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    
}

.form-container form textarea{
    height:75px;
    resize:none;
    font-size:14px;
    font-family:roboto;
}

.form-container form input:focus, textarea:focus{
    outline:1px solid #fe4e30;
}

.tech-option{
    display:flex;
    gap:15px;
    font-size:13px;
    margin-top:10px;
    margin-bottom:20px
    
}

.input-blog-image{
    display:flex;
    justify-content:space-between;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    align-items:center;
    font-size:13px;
    padding-right:5px;
    border-radius:3px;
    overflow:hidden;
    cursor:pointer;
    margin-bottom:23px;
    transition:0.5s ease;
}

.input-blog-image img{
    width:19px;
    rotate:45deg;
}

.input-blog-image .text{
    background-color:#fe4e30;
    padding:5px;
    opacity:0.9;
  
}

.input-blog-image:hover{
    opacity:0.7;
    outline:1px solid #fe4e30;
}
   
.submit-button-container{
    display:flex;
    justify-content:end;
}

.submit-button-container .submit-button{
    padding:5px 12px;
    border:none;
    background-color:#fe4e30;
    color:white;
    border-radius:3px;
    cursor:pointer;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    font-weight:bold;
    transition: 0.5s ease;
}

.submit-button-container .submit-button:hover{
    opacity:0.6;
}


/* css section 2 */

.section-two{
    background-color:#f5f5f5;
    
    padding:20px;
}
    
.section-two .container {
    display:flex;
    align-items:center;
    flex-direction:column;
    font-family:roboto;
    color:#374151;  
    padding:10px 100px;
    
    
}
.container-title {
    display:flex;
    justify-content:center;
    width:100%;
    border-bottom: 2px solid #fe4e30;
}

.container-content{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:30px;
 
    
}

.container .container-content a{
    text-decoration:none;
    color:#374151;
} 



.container-content .card-project-1{
    margin-top:20px;
    padding:15px;
    border:1px solid black;
    border-radius:5px;
    border:none;
    outline:1px solid  #fe4e30;
    transition:0.4s ease;
    cursor:pointer;
    
}

.container-content .card-project-1:hover{
    background-color:#fe4e30;
    outline:none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    color:white;
}



.container-card-project{
     width:100%;
     overflow:hidden;
     background-color:transparent;
     font-family:Poppins;
     

}
.container-card-project img{
    width:100%;
    border-radius:3px;
    margin-bottom:7px;
}

.card-project-title{
    padding:0px 7px;
    font-weight:bold;
    font-size:17px
  
}

.card-project-duration{
    padding:7px 7px;
    font-size:12px


   
  
}

.card-project-desc{
    padding:15px 7px;
    font-size:14px;
    text-align:justify;
}

.card-project-tech .tech-option{
    padding:0px 7px;
    display:flex;
    justify-content:start;

}

.card-project-tech .tech-option img{
    width:30px;
}

.card-project-button{
    padding:5px 5px;
    display:flex;
    justify-content:end;
    gap:10px;
}

.card-project-button .delete-button, button{
    padding:5px 12px;
    border:none;
    background-color:#fe4e30;
    color:white;
    border-radius:3px;
    cursor:pointer;
    transition: 0.5s ease;
    outline: 1px solid #fe4e30;
    font-weight:bold;
}

.card-project-button .edit-button, button{
    padding:5px 20px;
    border:none;
    background-color:#fe4e30;
    color:white;
    border-radius:3px;
    cursor:pointer;
    transition: 0.5s ease;
    outline: 1px solid #fe4e30;
}

.container-content:hover .card-project-1:hover button{
    background-color:white;
    outline:1px solid white;
    color:#fe4e30;

}

