*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f9f9f9;
     height: 1000px;
     color:#3f4c52;
   
  
   
}

.data-container{
  
    /* display:grid;
    grid-template-columns:1fr 350px; */
    display:flex;
    /* flex-direction: row-reverse; */
    gap:10px;
    border-radius: 10px;
    background-color:transparent;
    padding:10px 100px;
    /* border:1px solid red; */
  
 

  
    
}

.data-container-item {
    margin-top:30px;
    margin-left:30px;
    padding: 10px 5px;
    align-self: center;
    /* border:1px solid red; */
    
    
    
}

.data-container-item .greet-title{
    font-family: Poppins, sans-serif;
    font-weight:700;
    font-size:55px;
    color:#3f4c52;
    line-height:54px;
    /* position:relative; */
    

}

.data-container-item .greet-title .hand{
    width:50px;
    position:absolute;
    
    
    
}

.self-desc {
    padding-top:20px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 19px;
  
}



.download-cv-button{
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    background-color:transparent;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    padding:2px 6px;
    width:100px;
    align-items: center;
    border-radius: 3px;
    border: none;
    outline: 1px solid #3f4c52;
    

}

.download-cv-button a{
    text-decoration: none;
    color:#3f4c52;
    
}

.sosmed-container{
    margin-top:10px;
    display:flex;
    gap:10px;
    
}


.findme-text{
    
    font-size: 14px;
    font-weight:400;

}


.social-media {
    display: flex;
    justify-content:start;
    column-gap: 13px;
    cursor: pointer;
    color:#3f4c52;

    
}

.social-media i{
    color:#3f4c52;
}

.social-media i:hover{
    transform:scaleX(20deg);
}

.tech-container{
    display:flex;
    justify-content:start;
    margin-left:160px;
    
}

.tech-container .tech-text{
    display:flex;
    align-items:center;
    font-weight:300;
    border-right:2px solid black;
    padding-right:20px;
    font-size:17px;
}

.tech-container .tech-stack{
    display:grid;
    margin-left:20px;
    
}
.tech-stack .tech-icon img{
    width:45px;
}

.profile-container{

    margin-top:63px;
    display:flex;
    justify-content:center;
   
 
   
    
   
    
}

.profile-img {
    width:250px;
    overflow: hidden;
    border-radius: 100%;
    align-self: center;
  
    
    
  
}
.profile-img img{
    width: 100%; 
    object-fit:cover;
    border-radius:100%;
    border:2px dotted #3f4c52;
    
}







