<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
    
     <!--font-family  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- link css -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/form.css">
    
</head>
<body>

     <!--navbar  -->
       <navbar>
        <div class="container-navbar">

            <div class="left-section">
                <div>
                    <a href="\">
                          <div class="logo-bg">
                            <div class="logo">dianH.dev</div>
                        </div>
                    </a>
                    
                    
                </div>
                
            </div>

            <div class="right-section">
            
                    <ul >
                        <li><a href="/" class="main">Home</a></li>
                        {{#if isLogin}}
                        <li><a href="/myproject" class="main">Add Project</a></li>
                        {{/if}}
                        <li><a href="/testimoni" class="main">Testimonial</a></li>
                        <li><a href="/contact " class="main">Contact</a></li>
                        {{#if isLogin}}
                        <li><a href=""
                            style="
                              text-transform: capitalize;
                              font-size: 13px;
                              font-weight: 400; 
                              margin-left:50px; 
                                ">Hallo {{user}} </a></li>
                        <li><a href="/logout"
                        style ="
                          font-size: 13px;  
                          background-color:orangered;
                          padding: 4px 9px;
                          color:white;
                          border-radius: 3px;
                          text-transform: capitalize;
                          font-weight: 300;
                            "
                        >Log out</a></li>
                        {{else}}
                         <li><a href="/register"
                        style ="
                          font-size: 13px;  
                          background-color:orangered;
                          padding: 4px 9px;
                          color:white;
                          border-radius: 3px;
                          text-transform: capitalize;
                          font-weight: 300;
                          margin-left: 40px;
                            "
                        >Log in</a></li>
                         <li><a href="/login"
                        style ="
                          font-size: 13px;  
                          background-color:rgb(223, 22, 22);
                          padding: 4px 9px;
                          color:white;
                          border-radius: 3px;
                          text-transform: capitalize;
                          font-weight: 300;
                            "
                        >register</a></li>
                        {{/if}}
                    </ul>
            
                <div>
                    <img src="img/hamburger.svg" class="hamburger-toggle">
                </div>
                    
                   
            </div>
        </div>
    </navbar>

    <!-- container -->

    <div class="container">

        
        <div>
            <h2>GET IN TOUCH 📝</h2>
        </div>

            <div class="form-container">
                <div>
                    <form>
                        <div>
                            <label for="name">Name</label>
                        </div>
                        <div>
                            <input type="text" id="name" required>
                        </div>
    
                        <div>
                            <label for="email">Email</label>
                        </div>
                        <div>
                            <input type="email"  id="email" required >
                        </div>
    
                        <div>
                            <label for="phone">Phone Number</label>
                        </div>
                        <div>
                            <input type="text"  id="phone" required>
                        </div>
                        <div>
                            <label for="subject">Subject</label>
                        </div>
                        <div>
                            <select id="subject" required>
                                <option hidden></option>
                                <option value="Lets Talk">Lets Talk</option>
                                <option value="Hiring">Hiring</option>
                            </select>
                        </div>
                        <div>
                            <div>
                                <label for="country">Country</label>
                            </div>
                            <select id="country" required>
                                <option hidden></option>
                                <option value="Australia">Australia</option>
                                <option value="China">China</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Unite States">United States</option>
                                <option value="Germany">Germany</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Australia">Others</option>
                            </select>
                        </div>
    
                        <div>
                            <label for="comment">Your Message</label>
                        </div>
                        <div>
                            <textarea id="message" rows="4">

                            </textarea>

                            
                        </div>
    
                        <div>
                            <button class="submit-button" >Submit</button>
                        </div>
                    </form>
                </div>
                
                
            </div>

    </div>
<script src="script/responsive.js"></script>   
<script src="script/contact-form.js"></script>  


</body>
</html>