*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}



.container-navbar{
    display: flex;
    width: 100%;
    padding: 19px;
    background-color:transparent;
    color:white;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    z-index:999;
   

}

.fixed{
    position:fixed;
    background-color:#f9f9f9;
    opacity:0.96;
    box-shadow: 0px 0px 0.5px rgba(0,0,0,1);
    transition:all 0.5s;
   
}


.left-section {
    display: flex;
    flex: 20%;
    align-items: center;
    justify-content: start;
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
    position:relative;
}

.left-section .logo-bg .logo{
    font-size:17px;
    position:absolute;
    color:#f0e7e2;
    left:50px;
    top:7px;
}

.left-section .logo-bg{
    background:url("../img/bg-logo.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
   
    padding:5px 10px;
    width:180px;
    height:40px;
    position:relative;
    cursor:pointer;
}




.right-section{
    align-items: center;
    margin-right:20px;
    display:flex;
    justify-content:center;
 

}

/* .right-section {
    position:relative;
} */



.right-section ul {
    display:flex;
    /* flex-direction:column; */
    gap:10px;
    list-style-type: none;
 


   
}

.right-section a{
    text-decoration:none;
    color:#3f4c52;
    font-weight:bold;
    font-family:Poppins, sans-serif;
    font-size:14px;
    transition:0.5s ease;
}

.main{
    
    margin-left:20px;

}

.right-section .main:hover{
    border-bottom: 2px solid #3f4c52;
    font-size:15px;
}


.hamburger-toggle{
    width:25px;
    display:none;
}





/* responsive coba-coba belajar*/

@media screen and (max-width : 1280px) {

   
   
    

        .data-container-item{
            padding: 30px;
        }

    
}



@media screen and (max-width : 1024px) {

   
    .data-container-item{
        margin-left:10px;

}

    .right-section{
        margin-right:5px;
    }

    .right-section ul{
        gap:11px;
    }

  
  
}



@media screen and (max-width : 768px) {

    

    .left-section{
        margin:auto;
    }
    
    .left-section .logo-bg{
        width:150px;
        
    }

    .left-section .logo-bg .logo{
        font-size:15px;
        left:33px;
        top:9px;
    }

    .right-section{
        margin-right:10px;
    }

    .right-section ul{
        gap:10px;
        font-size:13px;
    }

   .left-section{
                margin-left: 10px;
            }

            .data-container{
                padding-top:10px;
                width: 100vw;
                padding:1px 1px;
                margin:0;
                border-radius: 0px;
                flex-direction: column-reverse;
                gap:0px;
                
                
            }
        
            .data-container-item .greet-title{
              text-align:center;
              
            }

            .data-container-item .greet-title .hand{
                display:none;
            }
        
            .tech-container{
               
                margin:auto;
                padding-left:20px
                
            }







}

@media screen and (max-width : 600px) {
   
    


    .data-container{
        padding-top:10px;
        width: 100vw;
        padding:1px 1px;
        margin:0;
        border-radius: 0px;
        flex-direction: column-reverse;
        gap:0px;
        
        
    }

    .data-container-item .greet-title{
      text-align:center;
    }

    .tech-container{
       
        margin:auto;
        padding-left:35px;
        
    }

            


    .right-section{
        margin-right: 0px;
    }

    

    .hamburger-toggle{
        display:block;
        
    }

    .right-section ul {
        flex-direction:column;
        justify-content:space-evenly;
        background-color:#f9f9f9;
        list-style-type: none;
        position:absolute;
        text-align:center;
        top:54px;
        z-index: 10;
        left:0;
        bottom:0;
        right:0;
        width:100%;
        gap:20px;
        border-radius:5px;
        padding:0px 10px;

        /* bikin ada animasinya */
        transform:translateX(100%);
        transition:1s all ease;
    
    
       
    }

    ul.slide{
        transform:translateX(0%);
    }

    .right-section ul li {
        padding:30px 10px;
        
    }

    .right-section ul li{
        background-color:#3f4c52;
        transition:0.5s;
        border-radius:10px;
      
    }
    .right-section li a{
        border:none;
        color:white;
    }

    .right-section ul li:hover{
        opacity:0.6;
    }

    .right-section li:hover a{
        border:none;
    }

    

   
    

    

}
    

